*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("../fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  overflow-x: hidden;
}

:root {
  --img: url();
}

.service-section h3,
.blog-section h3,
.team-section h3,
.title-welcome,
.gallery-section h3 {
  font-size: 56px;
  margin-bottom: 1em;
  text-align: center;
  font-weight: 400;
  font-style: italic;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.18);
  font-family: "Lato", sans-serif;
  line-height: 1.1;
}

.team-section h3 {
  color: rgb(0, 0, 0);
  text-shadow: rgba(0, 0, 0, 0.18) 0px 2px 5px;
}

.blog-section h3 {
  color: #fff;
}

.service-section h3,
.title-welcome,
.gallery-section h3 {
  color: #000;
}

.intro-container-all {
  position: relative;
}

.intro-container {
  min-height: 795px;
  background: var(--img) fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  opacity: 0;
  position: relative;
  animation: fadeAppear 3s ease;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  padding: 30px 40px 50px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.19);
  font-family: "Molle", sans-serif;
  color: white;
  text-align: center;
  line-height: 1.1;
  z-index: 400;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 500;
  position: absolute;
}

.logo-img {
  padding-bottom: 16px;
  margin: 0 auto;
  display: block;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.intro-container-text {
  padding-top: 22em;
}

.intro-text-title,
.intro-text {
  color: #fff;
}

.intro-text-title {
  font-size: 56px;
  letter-spacing: 3px;
  font-weight: 600;
  font-style: italic;
  text-align: right;
  text-transform: capitalize;
  text-shadow: 2px 9px 10px rgba(0, 0, 0, 0.48);
  font-family: "Lato", sans-serif;
  line-height: 1.1;
  display: block;
  margin-block-start: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.intro-header {
  position: relative;
}

.text-color-red {
  color: #ff3535;
}

.intro-text {
  letter-spacing: 4px;
  font-weight: 300;
  font-size: 13px;
  margin: 40px 0;
  position: relative;
  text-align: right;
  line-height: 1.9em;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-transform: none;
}

.intro-text::after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 1.5px;
  background: #00cdc1;
  top: 210%;
  left: 66.5%;
}

.intro-arrow {
  bottom: 46%;
  width: 50px;
  height: 50px;
  position: absolute;
  background: url(../images/arrows.png);
}

.left-arrow {
  left: 22px;
  background-position: left top;
}

.right-arrow {
  left: 95%;
  background-position: right top;
}

.intro-ul {
  display: flex;
  position: absolute;
  top: 92.5%;
  z-index: 99;
  left: 46.1%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.intro-dot {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  margin: 0 6px;
  cursor: pointer;
}

.here {
  background: #ff3535;
}

/************  Navbar  *************/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 22px;
  height: 2px;
  background-color: #fff;
  margin: 4px;
  transition: all 0.3s ease;
}

.navbar-container {
  min-height: 50px;
  background: #00cdc1;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar-ul {
  display: flex;
  justify-content: center;
}

.navbar-ul li {
  color: #fff;
  list-style: none;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  width: 11%;
  font-size: 16px;
  letter-spacing: 2px;
}

.navbar-ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar-ul li a:hover {
  color: #333;
  transition: color 0.5s ease-in;
}

/************  About section  *************/

.about {
  display: block;
  padding: 5em 0;
}

.about-container {
  display: flex;
}

.about-col {
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.about-text-intro h5 {
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: #333;
}

.about-text-p {
  color: #545151;
  margin: 16px 0 25px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  color: #999;
  line-height: 1.9em;
}

.about-ul li {
  color: #999;
  font-size: 14px;
  line-height: 1.9em;
  margin-top: 10px;
  letter-spacing: 1px;
  list-style: none;
}

.about-ul li i {
  margin-right: 12px;
  color: #ff3535;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.glyphicon-ok:before {
  content: "\e013";
}

.about-buttons {
  display: flex;
  margin-top: 35px;
}

.btn {
  color: #fff;
  padding: 12px 30px;
  letter-spacing: 1px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  transition: all 0.5s ease;
}

.btn-more {
  background-color: #000;
}

.btn-contact {
  background-color: #00cdc1;
}

.btn-more:hover {
  background-color: #00cdc1;
}

.btn-contact:hover {
  background-color: #000;
}

/************  More information page  *************/
.more-info-overlay,
.gallery-overlay {
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.more-info-overlay {
  display: none;
  background: rgba(12, 12, 12, 0.6);
}

.gallery-overlay {
  background: #fff;
  opacity: 0.7;
}

.gallery-overlay-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 1000;
  animation: fadeAppear 0.3s linear;
}

.gallery-img-text {
  position: absolute;
  padding: 10px;
  color: #fff;
  background: #000;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  right: 0;
}

.gallery-arrow button {
  position: fixed;
  top: 50%;
  line-height: 30px;
  display: block;
  font-size: 3em;
  z-index: 1000;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.gallery-arrow-left {
  left: 40px;
}

.gallery-arrow-right {
  right: 40px;
}

.gallery-close {
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 15;
  font-weight: 400;
  font-size: 1.7em;
  outline: none;
  background: none;
  cursor: pointer;
  border: none;
}

.gallery-details {
  display: none;
}

.more-info-container {
  position: relative;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  margin: 10px;
  display: block;
  padding: 30px;
  transform: translateY(-200px);
  opacity: 0;
  animation: display 0.5s ease forwards;
}

.more-info-title-container h4 {
  color: #ff3535;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  font-family: "Molle", cursive;
  letter-spacing: 1px;
  line-height: 1.1;
  font-weight: 500;
}

.more-info-container h5 {
  padding: 15px 0 7px;
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 1.1;
  font-family: "Lato", sans-serif;
}

.more-info-container p {
  color: #636363;
  font-size: 14px;
  line-height: 25px;
  padding-top: 10px;
  position: relative;
  letter-spacing: 1px;
}

.text-color-blue {
  color: #00cdc1;
}

.more-info-title-container {
  position: relative;
}

.btn-close {
  position: absolute;
  font-size: 14px;
  border: none;
  font-weight: bolder;
  line-height: 1;
  color: #000;
  opacity: 0.2;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  right: 0px;
  top: 0px;
}

.btn-close:hover {
  transition: all 0.5s ease;
  opacity: 0.5;
}

.display {
  display: block;
}

.close {
  animation: close 0.5s ease forwards;
}

/************  Slider  *************/
.slider {
  padding-bottom: 4em;
}

#owl-container .item img {
  width: 100%;
}

/************  Middle section  *************/
.middle-section {
  background: url(../images/bg.jpg) no-repeat center fixed;
  background-size: cover;
  padding: 10em 0;
}

.middle-section h2 {
  color: #fff;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 3px;
  width: 70%;
  line-height: 1.2;
  margin-bottom: 60px;
}

.button-container {
  margin-top: 35px;
}

/************  Service section  *************/
.service-section {
  padding: 5em 0;
  position: relative;
}

.service-cat-hang-img {
  position: absolute;
}

.cat-hang-1,
.cat-hang-2 {
  top: 0;
}

.cat-hang-2 {
  right: 0;
}

.cat-hang-2 img {
  float: right;
}

.service-container {
  width: 33.33%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.service-details {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.service-grid {
  display: flex;
}

.service-img img {
  height: auto;
  width: auto;
  border-radius: 50%;
}

.service-img {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  width: auto;
  height: auto;
}

.service-grid:last-child {
  margin-top: 4em;
}

.service-text {
  padding: 30px;
  position: relative;
  margin: 2em auto 0;
  border: 2px solid rgba(179, 177, 177, 0.18);
  line-height: 2em;
  color: #999;
  font-size: 14px;
  letter-spacing: 1px;
}

fieldset {
  padding: 30px;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: #212121;
  font-weight: 600;
  border-bottom: none;
  font-family: "Lato", sans-serif;
}

.spinner {
  border: 5px solid #ff3535;
  border-right-color: #dfdfdf;
  border-bottom-color: #dfdfdf;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  transition: all 0.8s ease-in-out;
}

.service-details:hover .spinner {
  transform: rotate(180deg);
}

/************  Blog section  *************/
.blog-section {
  padding: 5em 0;
  background: url(../images/bg3.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
}

.blog-col {
  width: 41.67%;
  padding: 0 15px;
}

.blog-date {
  padding: 15px;
  width: 20%;
  text-align: center;
  background: #00cdc1;
  color: #fff;
}

.blog-date p {
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 1.9;
}

.blog-date span {
  color: #fff;
  font-size: 23px;
  text-align: center;
}

.blog-info {
  width: 80%;
  padding: 20px;
  text-align: center;
  background: rgba(12, 12, 12, 0.37);
  line-height: 1.9;
}

.blog-container {
  display: flex;
}

.blog-container:nth-child(2) {
  margin: 1em 0;
}

.blog-info h4 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  line-height: 1.1;
  cursor: pointer;
}

.blog-info h4:hover {
  opacity: 0.7;
}

.blog-info p {
  letter-spacing: 1px;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 14px;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

.blog-info p:hover {
  color: #fff;
}

.flex-container {
  display: flex;
}

.blog-cat-img {
  position: absolute;
  bottom: -1.5%;
  right: 0;
}
/************  Animations  *************/
.team-section {
  padding: 5em 0;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.team-section-details {
  padding: 0 15px;
  justify-content: space-between;
}

.team-member h4 {
  font-size: 26px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.1;
}

.team-member p,
.team-member h4 {
  text-align: right;
}

.flex-reverse h4,
.flex-reverse p {
  text-align: left;
}

.team-member {
  width: 65%;
  text-align: right;
  margin-top: 18px;
}

.team-member-img {
  width: 30%;
  transition: all 0.5s;
}

.team-member-img img {
  width: 100%;
}

.team-member p {
  margin: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  font-size: 15px;
  color: #999;
  line-height: 1.9em;
}

.team-section-row:nth-child(3) {
  margin: 2em 0 0;
}
/************  Gallery section  *************/
.gallery-details {
  position: relative;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-img-block {
  width: 100%;
  cursor: pointer;
}

.gallery-img-block img {
  width: 100%;
}

.visible {
  display: block;
  opacity: 1;
}

/************  Animations  *************/
@keyframes display {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes close {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-200px);
  }
}

@keyframes fadeAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*--------- Responsive ----------*/
@media (max-width: 1366px) {
  .intro-container {
    min-height: 700px;
  }

  .intro-container-text {
    padding-top: 18em;
  }

  .logo {
    font-size: 40px;
    padding: 30px 40px 40px;
  }

  .intro-arrow {
    bottom: 46%;
  }

  .right-arrow {
    left: 95%;
  }

  .intro-text::after {
    height: 2px;
    width: 100px;
    left: 66.5%;
  }

  .middle-section {
    padding: 9em 0;
  }

  .blog-cat-img img {
    width: 80%;
    float: right;
  }

  .blog-cat-img {
    bottom: -1%;
  }
}

@media (max-width: 1280px) {
  .intro-container {
    min-height: 670px;
  }

  .logo {
    font-size: 40px;
    padding: 26px 30px;
  }

  .logo-img {
    padding-bottom: 0;
    margin-bottom: 16px;
  }

  .intro-container-text {
    padding-top: 18em;
  }

  .intro-text-title {
    font-size: 52px;
  }

  .intro-text {
    font-size: 12px;
    margin: 30px 0;
  }

  .intro-text::after {
    top: 175%;
    left: 69.5%;
  }

  .left-arrow {
    left: 22px;
  }

  .right-arrow {
    left: 95%;
  }

  .intro-arrow {
    bottom: 44%;
  }

  .intro-ul {
    top: 92.5%;
    left: 46.2%;
  }

  .intro-dot {
    margin: 0 5.8px;
    width: 12px;
    height: 12px;
  }

  .middle-section {
    padding: 8em 0;
  }

  .service-cat-hang-img img {
    width: 80%;
  }

  .blog-cat-img img {
    width: 70%;
  }
}

@media (max-width: 1080px) {
  .intro-container {
    min-height: 600px;
  }

  .navbar-ul li {
    font-size: 15px;
  }

  .about-text-intro h5 {
    font-size: 27px;
  }

  .about-text-p,
  .team-member p {
    font-size: 14px;
  }

  .intro-container-text {
    padding-top: 16.5em;
  }

  .intro-text-title {
    font-size: 47px;
    letter-spacing: 3px;
  }

  .middle-section h2 {
    font-size: 50px;
    width: 80%;
  }

  .blog-cat-img img {
    width: 66%;
  }

  .blog-section h3,
  .team-section h3,
  .service-section h3,
  .title-welcome,
  .gallery-section h3 {
    font-size: 51px;
  }
}

@media (max-width: 1050px) {
  .blog-cat-img img {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .intro-container {
    min-height: 600px;
  }

  .logo {
    padding: 26px 30px;
  }

  .intro-container-text {
    padding-top: 16.7em;
  }

  .intro-text-title {
    font-size: 45px;
    letter-spacing: 2px;
    padding-right: 0em;
  }

  .intro-text {
    font-size: 12px;
    margin: 30px 0;
    letter-spacing: 3px;
  }

  .intro-text::after {
    top: 175%;
    height: 2px;
    width: 100px;
    left: 70%;
  }

  .intro-arrow {
    bottom: 44%;
  }

  .right-arrow {
    left: 95%;
  }

  .intro-ul {
    top: 93.6%;
    left: 45.9%;
  }

  .middle-section {
    padding: 6em 0;
  }

  .middle-section h2 {
    font-size: 48px;
  }

  .blog-date {
    padding: 10px 15px;
  }

  .blog-date p {
    font-size: 20px;
  }

  .blog-date span {
    font-size: 21px;
  }

  .blog-info {
    padding: 15px;
  }

  .blog-info h4 {
    font-size: 15px;
  }

  .blog-info p {
    font-size: 17px;
    margin-top: 12px;
  }

  .blog-cat-img img {
    width: 55%;
  }

  .team-member h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .team-member p {
    font-size: 13px;
  }
}

@media (max-width: 991px) {
  .logo {
    font-size: 36px;
  }

  .logo-img {
    margin-bottom: 10px;
  }

  .intro-container-text {
    padding-top: 17.2em;
  }

  .intro-text-title {
    font-size: 40px;
    letter-spacing: 1px;
  }

  .intro-text {
    font-size: 11px;
  }

  .intro-text::after {
    width: 80px;
    left: 58%;
  }

  .intro-arrow {
    bottom: 44%;
  }

  .right-arrow {
    left: 93%;
  }

  .navbar-ul li {
    letter-spacing: 1px;
    width: 13%;
  }

  .about-container {
    flex-direction: column;
  }

  .about-col {
    width: 100%;
  }

  .about {
    padding: 4em 0;
  }

  .middle-section h2 {
    font-size: 41px;
    width: 100%;
  }

  .service-details,
  .spinner {
    width: 200px;
    height: 200px;
  }

  .service-text {
    padding: 20px;
    font-size: 13px;
    margin: 1.5em auto 0;
  }

  legend {
    font-size: 25px;
  }

  .blog-cat-img img {
    width: 39%;
  }

  .blog-col {
    width: 50%;
  }

  .blog-cat-img {
    bottom: -0.6%;
  }

  .blog-section {
    padding: 4em 0;
  }

  .flex-container.team-section-row {
    flex-direction: column;
  }

  .team-member h4 {
    font-size: 26px;
    margin-bottom: 16px;
  }

  .team-member {
    margin-top: 40px;
  }
}

@media (max-width: 900px) {
  .intro-container {
    min-height: 566px;
  }

  .logo {
    font-size: 32px;
  }

  .logo-img {
    width: 32%;
  }

  .intro-container-text {
    padding-top: 15.2em;
  }

  .intro-text-title {
    font-size: 40px;
    padding-right: 0em;
  }

  .intro-text::after {
    top: 180%;
  }

  .blog-cat-img img {
    width: 28%;
  }
}

@media (max-width: 800px) {
  .intro-container {
    min-height: 530px;
  }

  .logo-img {
    width: 32%;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .intro-container-text {
    padding-top: 14.4em;
  }

  .intro-text-title {
    font-size: 37px;
  }

  .intro-text {
    margin: 22px 0;
    letter-spacing: 2px;
  }

  .intro-arrow {
    bottom: 41.8%;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    left: 93.6%;
  }

  .intro-ul {
    top: 95%;
    left: 46.4%;
  }

  .navbar-ul li {
    font-size: 14px;
    line-height: 50px;
  }

  .title-welcome,
  .team-section h3,
  .service-section h3,
  .blog-section h3,
  .gallery-section h3 {
    font-size: 48px;
  }

  .btn {
    padding: 11px 25px;
    font-size: 14px;
  }

  .about {
    padding: 3.5em 0;
  }

  .slider {
    padding-bottom: 3em;
  }

  .middle-section {
    padding: 4em 0;
  }

  .middle-section h2 {
    font-size: 43px;
    margin-bottom: 40px;
    letter-spacing: 2px;
  }

  .service-details,
  .spinner {
    width: 180px;
    height: 180px;
  }

  .service-cat-hang-img img {
    width: 55%;
  }

  .blog-cat-img img {
    width: 38%;
  }

  .blog-section {
    padding-bottom: 14em;
  }
}

@media (max-width: 767px) {
  .intro-container {
    min-height: 515px;
  }

  .intro-container-text {
    padding-top: 14.5em;
  }

  .intro-text-title {
    font-size: 35px;
    padding-right: 0.8em;
  }

  .intro-arrow {
    bottom: 41.9%;
  }

  .right-arrow {
    left: 93.1%;
  }

  .intro-ul {
    top: 94%;
    left: 46.2%;
  }

  .burger {
    display: block;
    right: 0;
    position: absolute;
    margin: 9px 20px 4px 20px;
    border: 1px solid #fff;
    padding: 5.5px 6px;
    top: -1px;
  }

  .navbar-ul {
    display: none;
    flex-direction: column;
  }

  .navbar-ul li {
    width: 100%;
    line-height: 43px;
  }

  .burger-active {
    display: flex;
  }

  .gallery-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 736px) {
  .intro-text-title {
    padding-right: 0.75em;
  }

  .intro-arrow {
    bottom: 41.8%;
  }

  .intro-ul {
    top: 94%;
    left: 46.2%;
  }

  .intro-dot {
    margin: 0 6px;
    width: 12px;
    height: 12px;
  }

  .intro-text-title {
    padding-right: 0.8em;
  }

  .right-arrow {
    left: 93%;
  }

  .blog-info h4 {
    font-size: 14px;
  }
}

@media (max-width: 684px) {
  .intro-container-text {
    padding-top: 14.5em;
  }

  .right-arrow {
    left: 92%;
  }

  .intro-ul {
    top: 94%;
    left: 46.3%;
  }

  .intro-dot {
    margin: 0 5.8px;
  }
}

@media (max-width: 667px) {
  .intro-container-text {
    padding-top: 12.4em;
  }

  .intro-text-title {
    font-size: 36px;
    line-height: 1.3;
    letter-spacing: 2px;
  }

  .intro-arrow {
    bottom: 41.8%;
  }

  .middle-section h2 {
    font-size: 38px;
  }

  .service-details,
  .spinner {
    width: 150px;
    height: 150px;
  }

  legend {
    font-size: 23px;
  }

  .service-text {
    font-size: 12px;
    padding: 14px;
  }

  .service-section h3,
  .blog-section h3,
  .title-welcome,
  .team-section h3 {
    font-size: 43px;
  }

  .blog-section,
  .team-section,
  .service-section,
  .about {
    padding: 3em 0;
  }

  .blog-date p {
    font-size: 18px;
  }

  .blog-date span {
    font-size: 19px;
  }

  .blog-info h4 {
    font-size: 13px;
    letter-spacing: 1px;
  }

  .blog-info p {
    font-size: 16px;
    margin-top: 6px;
  }

  .navbar-container {
    background: rgba(0, 205, 193, 0.86);
  }

  .team-member h4 {
    font-size: 25px;
  }

  .team-member {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 28px;
  }

  .logo-img {
    width: 32%;
    padding-bottom: 0;
    margin-bottom: 4px;
  }

  .intro-container-text {
    padding-top: 12.7em;
  }

  .intro-text-title {
    font-size: 32px;
    padding-right: 0.85em;
  }

  .intro-arrow {
    bottom: 43.8%;
  }

  .right-arrow {
    left: 91.2%;
  }

  .intro-ul {
    top: 93.5%;
    left: 46%;
  }

  .more-info-title-container h4,
  .middle-section h2 {
    font-size: 36px;
  }

  .more-info-container h5 {
    font-size: 20px;
  }

  .service-cat-hang-img img {
    width: 50%;
  }

  .blog-info {
    padding: 13px 0;
  }

  .team-member {
    margin-top: 15px;
  }

  .team-member h4 {
    font-size: 23px;
    margin-bottom: 10px;
  }
}

@media (max-width: 568px) {
  .intro-container {
    min-height: 495px;
  }

  .intro-text-title {
    font-size: 31px;
    padding-right: 0.86em;
  }

  .intro-container-text {
    padding-top: 12.8em;
  }

  .intro-arrow {
    bottom: 43.9%;
  }

  .intro-ul {
    top: 93.2%;
    left: 46%;
  }

  .right-arrow {
    left: 91.2%;
  }

  .more-info-container h5 {
    line-height: 1.4;
  }

  .more-info-container p {
    font-size: 13px;
  }

  .middle-section h2 {
    font-size: 34px;
  }

  .service-details,
  .spinner {
    width: 120px;
    height: 120px;
  }

  .service-text {
    padding: 9px;
  }

  legend {
    font-size: 20px;
  }

  .blog-col {
    padding: 0 0.5em;
  }
}

@media (max-width: 480px) {
  .intro-container {
    min-height: 470px;
  }

  .logo {
    font-size: 26px;
    padding: 20px;
  }

  .intro-container-text {
    padding-top: 11.9em;
  }

  .intro-text-title {
    font-size: 29px;
    padding-right: 0.96em;
  }

  .intro-text {
    font-size: 10px;
    letter-spacing: 1px;
  }

  .intro-text::after {
    top: 170%;
    width: 50px;
    left: 53.5%;
  }

  .intro-arrow {
    bottom: 44%;
  }

  .right-arrow {
    left: 89%;
  }

  .intro-ul {
    top: 91%;
    left: 45.4%;
  }

  .intro-dot {
    margin: 0 5.8px;
  }

  .title-welcome,
  .team-section h3,
  .service-section h3,
  .blog-section h3 {
    font-size: 40px;
    margin-bottom: 0.8em;
  }

  .about-text-intro h5 {
    font-size: 25px;
  }

  .about-text-p {
    font-size: 13px;
  }

  .middle-section h2 {
    font-size: 32px;
    line-height: 1.4;
  }

  .service-grid {
    flex-direction: column;
  }

  .service-cat-hang-img img {
    width: 29%;
  }

  .service-container,
  .blog-col {
    width: 100%;
  }

  .blog-col {
    padding: 0 1em;
  }

  .blog-col:nth-child(2) {
    margin-top: 1em;
  }

  .service-container:nth-child(2) {
    margin: 2em 0;
  }

  legend {
    font-size: 22px;
  }

  .service-text {
    padding: 20px 30px;
  }

  .service-details,
  .spinner {
    width: 180px;
    height: 180px;
  }

  .service-section h3 {
    font-size: 35px;
  }

  .blog-flex {
    flex-direction: column;
  }

  .blog-info h4 {
    font-size: 14px;
  }

  .blog-info p {
    font-size: 17px;
    margin-top: 12px;
  }

  .team-member h4 {
    font-size: 21px;
  }

  .team-member p {
    font-size: 12px;
  }

  .team-member {
    margin-top: 0;
  }

  .team-section-details.flex-reverse {
    margin-top: 2.5em;
  }
}

@media (max-width: 450px) {
  .intro-container {
    min-height: 460px;
  }

  .title-welcome,
  .blog-section h3,
  .team-section h3 {
    font-size: 35px;
  }

  .about-text-intro h5 {
    font-size: 23px;
  }

  .about-text-p,
  .more-info-container p {
    font-size: 12px;
  }

  .about-ul li,
  .btn {
    font-size: 13px;
  }

  .btn {
    padding: 11px 20px;
  }

  .more-info-title-container h4 {
    font-size: 32px;
  }

  .more-info-container h5 {
    font-size: 18px;
    padding: 15px 0 0;
  }

  .intro-arrow {
    bottom: 42.5%;
  }

  .intro-text-title {
    padding-right: 1em;
  }

  .middle-section {
    padding: 3em 0;
  }

  .middle-section h2 {
    font-size: 30px;
  }

  .button-container {
    margin-top: 30px;
  }

  .blog-info {
    padding: 10px 0;
  }

  .team-member h4 {
    letter-spacing: 1px;
  }

  .team-member p {
    font-size: 11px;
  }
}

@media (max-width: 426px) {
  .intro-container {
    min-height: 450px;
  }

  .intro-container-text {
    padding-top: 11.6em;
  }

  .intro-text-title {
    font-size: 26px;
    padding-right: 1.1em;
  }

  .intro-text {
    font-size: 9px;
    letter-spacing: 1px;
  }

  .intro-text::after {
    top: 170%;
    height: 2px;
    width: 50px;
    left: 53.5%;
  }

  .intro-arrow {
    bottom: 44%;
  }

  .right-arrow {
    left: 88%;
  }

  .intro-ul {
    top: 91.2%;
    left: 42.5%;
  }

  .intro-dot {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 414px) {
  .more-info-container {
    padding: 20px;
  }

  .more-info-title-container h4 {
    font-size: 32px;
  }

  .more-info-container h5 {
    font-size: 17px;
  }
}

@media (max-width: 384px) {
  .middle-section h2 {
    font-size: 28px;
  }

  .service-cat-hang-img img {
    width: 34%;
  }

  .service-section {
    padding-top: 7em;
  }

  .flex-container.team-section-details {
    flex-direction: column-reverse;
  }

  .team-member-img {
    margin: 0 auto;
    width: 50%;
  }

  .team-member {
    width: 100%;
  }

  .team-member {
    margin-top: 20px;
  }

  .team-member h4 {
    font-size: 22px;
  }

  .team-member p {
    font-size: 12px;
  }

  .gallery-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 375px) {
  .intro-container {
    min-height: 420px;
  }

  .logo {
    font-size: 24px;
    padding: 15px;
  }

  .logo-img {
    width: 32%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .intro-container-text {
    padding-top: 9.8em;
  }

  .intro-text-title {
    font-size: 23px;
    line-height: 1.5;
    letter-spacing: 2px;
    padding-right: 1.1em;
  }

  .intro-text::after {
    top: 115%;
    left: 53.5%;
  }

  .intro-arrow {
    bottom: 45%;
  }

  .right-arrow {
    left: 86%;
  }

  .intro-ul {
    top: 91.5%;
  }
}

@media (max-width: 350px) {
  .right-arrow {
    left: 84%;
  }
}

@media (max-width: 320px) {
  .intro-container {
    min-height: 370px;
  }

  .intro-container-text {
    padding-top: 8.9em;
  }

  .intro-text-title {
    font-size: 21px;
  }

  .intro {
    letter-spacing: 2px;
  }

  .intro-text {
    margin: 12px 0;
  }

  .intro-text::after {
    top: 140%;
    left: 56%;
  }

  .intro-arrow {
    bottom: 43%;
  }

  .intro-ul {
    top: 92%;
    left: 38.5%;
  }

  .navbar-ul li {
    line-height: 36px;
  }

  .about-text-intro h5 {
    font-size: 20px;
  }

  .about,
  .team-section {
    padding: 2em 0;
  }

  .more-info-title-container h4 {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .more-info-container p {
    font-size: 11px;
    line-height: 22px;
  }

  .middle-section h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .service-section h3,
  .title-welcome,
  .team-section h3 {
    font-size: 32px;
  }

  .service-cat-hang-img img {
    width: 38%;
  }

  .burger {
    padding: 4px 4px;
    top: -2px;
  }

  .blog-date p {
    font-size: 15px;
  }

  .blog-info h4,
  .navbar-ul li {
    font-size: 13px;
  }

  .blog-info p {
    margin-top: 9px;
  }

  .blog-col {
    padding: 0 0.5em;
  }

  .blog-section h3 {
    font-size: 32px;
  }

  .blog-section {
    padding-bottom: 14em;
  }

  .blog-cat-img img {
    width: 46%;
  }

  .gallery-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .more-info-container {
    width: 600px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
